.container {  display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr .5fr;
    gap: 5px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "sign-up input-form"
      "sign-up social-links";
  }

body {
    font-family: 'Roboto', sans-serif;
}
  
#sign-up{
    background-color:#0314FE;
    color: white;
    font-weight: bolder;
    border-radius:  0px 0px 950px 30px;
  }

#rocket {
    width: 30vw;
    margin-left: 80px;
    margin-bottom: 80px;
    margin-top: 40px;
}

#input-form {
   display: flex;
   justify-content: center;
   align-content: stretch;
   font-size: larger;
    
}

.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 10px;

}

#in-user{
    background-image: url("../CRMProject/CRM-SignIn/Images/Page-1.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: contain;

}

.input-field{
    width: 20vw;
    height: 3.5vh;
    padding: 10px;
    outline: none;
    border-radius: 50px;
    border: 1px solid rgb(173, 171, 171);
}

.btn {
    background-color: #0314FE;
    color: white;
    border-radius: 50px;
    border-color: white;
    width: 12vw;
    height: 5.5vh;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px rgb(180, 180, 180);
}

.btn:hover {
    background-color: #464ebb;
}

.btn:active {
    background-color: #464ebb;
    box-shadow: 0 3px #666;
    transform: translateY(1px);
}

#social-links{
    text-align: center;
    font-weight: bold;
    font-size: small;
    position: relative;
    bottom: 20vh;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 15px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 15px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
    padding: 15px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 15px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}

.fa:hover {
        opacity: 0.7;
      }