.container {
    display: grid;
    /* Positional "Fixed", 0,0,0 required to lock navbar to top of page */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    grid-template-columns: 1fr 1fr 1fr .9fr 1.05fr 1.05fr;
    grid-template-rows: 0.3fr 2.7fr 2fr 1.7fr 0.2fr 0.9fr 1.1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0em 0px;
    grid-auto-flow: row;
    grid-template-areas:


        "Header Header Header Header Header Header"
        "Focus-on-Business-Text Focus-on-Business-Text Focus-on-Business-Text Focus-on-Business-Text Focus-on-business-Grid Focus-on-business-Grid"
        "Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap"
        "Accept-Payment-With-Ease Accept-Payment-With-Ease Accept-Payment-With-Ease Accept-Payment-With-Ease Accept-Payment-With-Ease Accept-Payment-With-Ease"
        "Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title"
        "Top-Left Top-Left Top-Left Top-Right Top-Right Top-Right"
        "Bottom-Left Bottom-Left Bottom-Left Bottom-Right- Bottom-Right- Bottom-Right-"
        "Footer Footer Footer Footer Footer Footer";
    width: 100%;
}

/* Temporary shadings, to differentiate grid spacing */
.Header {
    grid-area: Header;
    padding-bottom: 4vh;
}

.Focus-on-Business-Text {
    grid-area: Focus-on-Business-Text;
    padding-left: 5vh;
    padding-bottom: 10vh;
    width: auto;
    height:45vh;
    padding-right: 20vh;
    
}

.Focus-on-business-Grid {
    grid-area: Focus-on-business-Grid;
    padding-right:5vh;
    padding-bottom: 10vh;
    width: 20vw;
    height:23vw;
}

.Start-to-Explore-Double-Tap {
    grid-area: Start-to-Explore-Double-Tap;
   border-top: 1px lightgray solid;
    padding-top: 5vh;
}

.Accept-Payment-With-Ease {
    grid-area: Accept-Payment-With-Ease;
    background-color: rgb(50, 156, 84);
}

.Solutions-To-Fit-your-business-needs-title {
    grid-area: Solutions-To-Fit-your-business-needs-title;
    background-color: rgb(79, 7, 77);
}

.Top-Left {
    grid-area: Top-Left;
    background-color: rgb(203, 162, 40);
}

.Bottom-Left {
    grid-area: Bottom-Left;
    background-color: rgb(38, 147, 168);
}

.Top-Right {
    grid-area: Top-Right;
    background-color: rgb(133, 46, 143);
}

.Bottom-Right- {
    grid-area: Bottom-Right-;
    background-color: rgb(198, 151, 245);
}

.Footer {
    grid-area: Footer;
    background-color: rgb(175, 194, 69);
}

/* Header CSS */
.navbar {
    height: 8vh;
}

#nav-logo {
    max-width: 20px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 47%
}

li {
    font-size: 8pt;
    color: black;
}

#but-si {
    margin-right: 1vh;
    color: #0314fe;
    border-color: #0314FE
}

#but-free {
    background-color: #0314fe;
    border-color: #0314fe;
}

#navlink {
    color: black;
}

#navlink:hover {
    text-decoration: none;
    color: #0314fe;
}
/* Focus on Business text CSS */










/* grid area for top right 3x3*/
.container2 {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    width: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 8px 8px rgb(245, 245, 245) ;
}

.tl {
    grid-area: 1 / 1 / 2 / 2;
    box-shadow:5px 15px 20px ;
    border-radius: 5vh 0px;
}

.tm {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 5vh 0px 0px 0px;
    background-color: white;
 
}

.tr {
    grid-area: 1 / 3 / 2 / 4;
    border-radius: 5vh 5vh 5vh 5vh;
 
}

.ml {
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 5vh 5vh 5vh 5vh;
 
}

.mm {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 0vh 5vh 0px 0px;
    background-color: white;
    font-size: 8pt !important;
 
}

.mr {
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 0vh 0vh 5vh 0vh;
 
}

.bl {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 0vh 0vh 0vh 5vh;
 
}

.bm {
    grid-area: 3 / 2 / 4 / 3;
    background-color: white;
    border-radius: 5vh 5vh 5vh 5vh;
 
}

.br {
    grid-area: 3 / 3 / 4 / 4;
    border-radius: 0vh 0vh 5vh 0vh;
 
}
#grid2{
    height:100%;
    

}
.grid2-item{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: green;
    white-space: nowrap;
    overflow: hidden;
    font-size: 9pt;
    
}
.grid2-bl{
    background-color: #0314fe;
    color: white;
    border: 5vh;
}
.grid2-wh{
    color: rgb(146, 146, 146);
}
/* VVV Start-to-Explore-Double-Tap Grid CSS VVV  */
.container3 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .8fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0em 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Title-Block Title-Block Title-Block Title-Block"
      "Payments Retain reporting Convert";
    width: 100%;
  }
  
  .Title-Block { grid-area: Title-Block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
 }
  #longmessage{
      font-size: 8px;
  }
  .Payments { grid-area: Payments; }
  
  .Retain { grid-area: Retain; }
  
  .reporting { grid-area: reporting; }
  
  .Convert { grid-area: Convert; }
  