.Header {  
    display: grid;
    background-color: blue; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
  grid-area: Header;
  }
  
  .Footer { 
      grid-area: Footer;
      background-color: blue; 
     }